<div class="rounded-xl border border-border bg-background text-foreground shadow">
  <header class="p-6 pb-4">
    <h3 class="font-semibold text-2xl">
      {{ formType === "forgotPassword" ? "Forgot password" : "Reset password" }}
    </h3>
    <p class="text-sm text-muted-foreground">
      {{
        formType === "forgotPassword"
          ? "Please enter your email address and we will send you an email to change your password"
          : "Please enter your new password"
      }}
    </p>
  </header>

  <form
    [formGroup]="
      formType === 'forgotPassword' ? forgotPasswordForm : resetPasswordForm
    "
    (ngSubmit)="onSubmit()"
    class="px-6 pb-6 flex flex-col gap-4"
  >
    <div *ngIf="formType === 'forgotPassword'" class="text-sm space-y-2">
      <label
        [ngClass]="{ 'text-destructive': email?.invalid && submitted }"
        class="font-medium"
        for="email"
      >
        Email
      </label>
      <input
        #formInput
        class="w-full h-9 border border-border rounded-md px-3 py-1 shadow-sm bg-background focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed placeholder:text-muted-foreground"
        type="email"
        placeholder="johndoe@email.com"
        id="email"
        name="email"
        formControlName="email"
      />
      <p
        *ngIf="email?.invalid && submitted"
        class="text-[0.8rem] font-medium text-destructive"
      >
        Please enter a valid email address
      </p>
    </div>

    <ng-container *ngIf="formType === 'resetPassword'">
      <div class="text-sm space-y-2">
        <label
          class="font-medium"
          [ngClass]="{
            'text-destructive': password?.invalid && submitted
          }"
          for="password"
        >
          Password
        </label>
        <input
          #formInput
          class="w-full h-9 border border-border rounded-md px-3 py-1 shadow-sm bg-background focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed placeholder:text-muted-foreground"
          type="password"
          placeholder="***********"
          id="password"
          name="password"
          formControlName="password"
          (ngModelChange)="onPasswordChange()"
        />
        <p
          *ngIf="password?.invalid && submitted"
          class="text-[0.8rem] font-medium text-destructive"
        >
          {{ currentPasswordError }}
        </p>
      </div>

      <div class="text-sm space-y-2">
        <label
          class="font-medium"
          [ngClass]="{
            'text-destructive': confirmPassword?.invalid && submitted
          }"
          for="confirmPassword"
        >
          Confirm password
        </label>
        <input
          #formInput
          class="w-full h-9 border border-border rounded-md px-3 py-1 shadow-sm bg-background focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed placeholder:text-muted-foreground"
          type="password"
          placeholder="***********"
          id="confirmPassword"
          name="confirmPassword"
          formControlName="confirmPassword"
        />
        <p
          *ngIf="confirmPassword?.invalid && submitted"
          class="text-[0.8rem] font-medium text-destructive"
        >
          Both passwords must match
        </p>
      </div>
    </ng-container>

    <button
      class="w-full flex justify-center items-center gap-2 rounded-md text-sm font-medium bg-primary text-primary-foreground px-4 py-2 transition-colors hover:bg-primary/90 disabled:opacity-50"
      type="submit"
      [disabled]="isLoading"
    >
      <svg
        *ngIf="isLoading"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        class="animate-spin"
      >
        <path
          fill="currentColor"
          fill-opacity=".9"
          d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.438A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75Z"
        />
      </svg>
      {{ formType === "forgotPassword" ? "Send email" : "Reset password" }}
    </button>
  </form>

  <footer
    *ngIf="formType === 'forgotPassword'"
    class="pb-6 px-6 flex flex-wrap gap-2 items-center justify-between"
  >
    <div class="text-sm text-muted-foreground">
      <a
        class="text-foreground font-medium hover:underline"
        routerLink="/signin"
      >
        Back to sign in
      </a>
    </div>
  </footer>
</div>
