<a
  class="relative w-full h-full rounded-md flex flex-col text-sm transition-colors hover:bg-accent"
  routerLink="/"
  (mouseenter)="animateHover('enter')"
  (mouseleave)="animateHover('leave')"
>
  <div
    #categoryTag
    *ngIf="book.categories && book.categories.length > 0"
    class="absolute z-20 inset-6 shadow-sm bg-primary text-primary-foreground w-fit h-fit py-1 px-3 rounded-md data-[state=active]:animate-scale-in data-[state=inactive]:animate-scale-out data-[state=inactive]:hidden"
    data-state="inactive"
  >
    {{ book.categories[0].name }}
  </div>

  <img
    class="object-cover shadow-lg rounded-md m-4 transition-colors"
    [src]="book.imageLink"
    [alt]="book.title + ' book cover'"
    loading="lazy"
  />

  <div class="px-4 flex gap-2 justify-between">
    <h3 class="font-semibold">
      {{ book.title }}
    </h3>
    <div class="hidden xs:flex flex-col">
      <span class="font-semibold">{{ book.currentPrice }}€</span>
      <span
        *ngIf="book.discount !== 0"
        class="line-through text-muted-foreground"
      >
        {{ book.originalPrice }}€
      </span>
    </div>
  </div>
  <div class="flex xs:hidden gap-2 px-4">
    <span class="font-semibold">{{ book.currentPrice }}€</span>
    <span
      *ngIf="book.discount !== 0"
      class="line-through text-muted-foreground"
    >
      {{ book.originalPrice }}€
    </span>
  </div>
  <span class="px-4 text-muted-foreground">{{ book.author }}</span>
  <div class="px-4 flex flex-wrap items-center leading-[initial]">
    <div *ngIf="book.averageRating" class="flex items-center">
      <svg
        *ngFor="let number of [1, 2, 3, 4, 5]"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class=""
        [ngClass]="{
          'text-[#e9c867]': number <= +book.averageRating,
          'text-gray-400': number > +book.averageRating
        }"
      >
        <path
          d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
          fill="currentColor"
        />
      </svg>
    </div>
    <span class="text-sm">({{ book.averageRating }})</span>
  </div>
  <div class="p-4 mt-auto">
    <button
      class="w-full py-2 px-3 border-[1px] rounded-md shadow-sm bg-primary text-sm text-primary-foreground transition-colors hover:bg-primary/90"
    >
      Add to cart
    </button>
  </div>
</a>
