<div
  class="relative w-full h-full rounded-md flex flex-col text-sm transition-colors hover:bg-accent"
  (mouseenter)="animateHover('enter')"
  (mouseleave)="animateHover('leave')"
>
  <div
    #categoryTag
    *ngIf="book.categories && book.categories.length > 0"
    class="absolute z-20 inset-6 shadow-sm bg-primary text-primary-foreground w-fit h-fit py-1 px-3 rounded-md data-[state=active]:animate-scale-in data-[state=inactive]:animate-scale-out data-[state=inactive]:hidden"
    data-state="inactive"
  >
    {{ book.categories[0].name }}
  </div>

  <a class="p-4" [routerLink]="['/book', book.id + '-' + book.slug]">
    <img
      class="object-cover shadow-lg rounded-md transition-colors"
      [src]="book.imageLink"
      [alt]="book.title + ' book cover'"
      width="300"
      height="400"
      loading="lazy"
    />
  </a>

  <a
    class="h-full"
    [routerLink]="['/book', book.id + '-' + book.slug]"
    tabindex="-1"
  >
    <div class="px-4 flex gap-2 justify-between">
      <h3 class="font-semibold line-clamp-2">
        {{ book.title }}
      </h3>
      <div class="hidden xs:flex flex-col">
        <span class="font-semibold">{{ book.currentPrice }}€</span>
        <span
          *ngIf="book.discount !== 0"
          class="line-through text-muted-foreground"
        >
          {{ book.originalPrice }}€
        </span>
      </div>
    </div>

    <div class="flex xs:hidden gap-2 px-4">
      <span class="font-semibold">{{ book.currentPrice }}€</span>
      <span
        *ngIf="book.discount !== 0"
        class="line-through text-muted-foreground"
      >
        {{ book.originalPrice }}€
      </span>
    </div>

    <span class="px-4 text-muted-foreground line-clamp-1">{{
      book.author
    }}</span>
    <div
      *ngIf="book.averageRating"
      class="px-4 flex flex-wrap items-center leading-[initial]"
    >
      <div class="flex items-center">
        <svg
          *ngFor="let number of [1, 2, 3, 4, 5]"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          [ngClass]="{
            'text-[#e9c867]': number <= +book.averageRating,
            'text-gray-400': number > +book.averageRating
          }"
        >
          <path
            d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
            fill="currentColor"
          />
        </svg>
      </div>
      <span class="text-sm">({{ book.averageRating | number : "1.1-1" }})</span>
    </div>
  </a>

  <div class="p-4 mt-auto flex items-center gap-2">
    <button
      *ngIf="type === 'wishlist'"
      class="inline-flex items-center justify-center w-12 h-9 rounded-md shadow-sm bg-background text-sm text-primary border border-border transition-colors hover:bg-primary hover:text-primary-foreground disabled:opacity-50"
      [disabled]="isLoadingWishlist()"
      (click)="removeFromWishlist(book.id)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="w-5 h-5"
      >
        <path
          fill="currentColor"
          d="M21 7h-6V5h6v2ZM5 21V5q0-.825.588-1.413T7 3h6v2H7v12.95l5-2.15l5 2.15V11h2v10l-7-3l-7 3ZM7 5h6h-6Z"
        />
      </svg>
      <span class="sr-only">Remove from wishlist</span>
    </button>

    <button
      class="flex items-center justify-center gap-2 w-full py-2 px-1 rounded-md shadow-sm bg-primary text-sm text-primary-foreground transition-colors hover:bg-primary/90 disabled:opacity-50"
      (click)="addToCart(book.id)"
      [disabled]="isLoadingCart()"
    >
      <svg
        *ngIf="isLoadingCart()"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        class="animate-spin"
      >
        <path
          fill="currentColor"
          fill-opacity=".9"
          d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.438A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75Z"
        />
      </svg>
      Add to cart
    </button>
  </div>
</div>
