<ng-template #template>
  <ul
    #menu
    cdkMenu
    [id]="'dropdown-' + dropdownId"
    class="mt-1 p-4 w-[500px] border bg-background rounded-md data-[state=opened]:animate-zoom-in data-[state=closed]:animate-zoom-out grid grid-cols-2 gap-2"
    data-state="opened"
  >
    <li *ngFor="let item of data" cdkMenuItem>
      <a
        [routerLink]="item.link"
        class="block p-2 text-sm rounded-md font-medium text-foreground hover:bg-accent"
      >
        {{ item.label }}
      </a>
    </li>
  </ul>
</ng-template>
