<div
  class="min-h-screen grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 overflow-hidden"
>
  <app-auth-background class="w-full relative" />

  <main
    class="container absolute top-1/2 col-span-1 md:col-span-2 lg:col-span-1 flex -translate-y-1/2 items-center md:static md:top-0 md:flex md:translate-y-0"
  >
    <app-forgot-password-form
      *ngIf="!emailSent(); else emailSentTemplate"
      class="container max-w-xl"
      [forgotPasswordForm]="forgotPasswordForm"
      [isLoading]="isLoading()"
      [focusInput$]="focusInput.asObservable()"
      (submitHandler)="onSubmit()"
    />

    <ng-template #emailSentTemplate>
      <app-email-sent
        [isLoading]="isLoading()"
        (resendEmailHandler)="resendEmail()"
      />
    </ng-template>
  </main>
</div>
