<app-navbar
  class="block sticky top-0 z-50 w-full border-b border-border bg-background"
/>

<div
  class="container text-primary md:grid md:grid-cols-[180px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
>
  <aside class="md:border-r border-border">
    <app-dashboard-nav active="account" />
  </aside>

  <div
    role="separator"
    aria-orientation="horizontal"
    class="block md:hidden -mx-1 my-1 h-px bg-border"
  ></div>

  <main class="pb-4 pt-2 md:py-8 space-y-8">
    <section>
      <h2 class="font-semibold text-3xl">Account</h2>
      <p class="text-muted-foreground">Manage your account settings</p>

      <div
        class="my-4 p-4 text-sm flex flex-col xxs:flex-row gap-2 items-center justify-between border border-border rounded-md"
      >
        <dl class="flex gap-4 items-center flex-row flex-wrap">
          <div>
            <dt class="font-medium">First name</dt>
            <dd class="text-muted-foreground">
              {{ authService.user()?.firstName }}
            </dd>
          </div>
          <div>
            <dt class="font-medium">Last name</dt>
            <dd class="text-muted-foreground">
              {{ authService.user()?.lastName }}
            </dd>
          </div>
          <div>
            <dt class="font-medium">Email</dt>
            <dd class="text-muted-foreground">
              {{ authService.user()?.email }}
            </dd>
          </div>
        </dl>

        <button
          class="flex items-center py-1.5 px-3 font-medium border border-border rounded-md bg-background shadow-sm hover:bg-accent"
          (click)="openAccountDialog()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="mr-2 h-5 w-5"
          >
            <path
              fill="currentColor"
              d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z"
            />
          </svg>
          Modify
        </button>
      </div>

      <div
        class="my-4 p-4 text-sm flex flex-col xxs:flex-row gap-2 items-center justify-between border border-border rounded-md"
      >
        <dl class="flex gap-4 items-center flex-row flex-wrap">
          <div>
            <dt class="font-medium">Password</dt>
            <dd class="text-muted-foreground">***************</dd>
          </div>

          <div>
            <dt class="font-medium">OAuth Provider</dt>
            <dd class="text-muted-foreground">
              {{
                authService.user()?.oauthProvider === "LOCAL" ? "-" : "Google"
              }}
            </dd>
            <dd></dd>
          </div>
        </dl>

        <button
          class="flex items-center py-1.5 px-3 font-medium border border-border rounded-md bg-background shadow-sm hover:bg-accent disabled:opacity-50 disabled:cursor-not-allowed"
          [disabled]="authService.user()?.oauthProvider !== 'LOCAL'"
          (click)="openChangePasswordDialog()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="mr-2 h-5 w-5"
          >
            <path
              fill="currentColor"
              d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z"
            />
          </svg>
          Modify
        </button>
      </div>
    </section>

    <section>
      <h2 class="font-semibold text-3xl">Addresses</h2>
      <p class="text-muted-foreground">Manage your addresses settings</p>

      <div
        *ngIf="userService.userAddresses().length > 0; else noAddressesFound"
        class="my-4 space-y-4"
      >
        <div
          *ngFor="let address of userService.userAddresses()"
          class="p-4 text-sm flex flex-col xxs:flex-row flex-wrap gap-2 items-center justify-between border border-border rounded-md"
        >
          <dl
            class="max-w-[29rem] grid grid-cols-1 xxs:grid-cols-2 md:grid-cols-3 gap-2"
          >
            <div>
              <dt class="font-medium">First name</dt>
              <dd class="text-muted-foreground">{{ address.firstName }}</dd>
            </div>

            <div>
              <dt class="font-medium">Last name</dt>
              <dd class="text-muted-foreground">{{ address.lastName }}</dd>
            </div>

            <div>
              <dt class="font-medium">Phone number</dt>
              <dd class="text-muted-foreground">{{ address.phone }}</dd>
            </div>

            <div>
              <dt class="font-medium">Country</dt>
              <dd class="text-muted-foreground">{{ address.country }}</dd>
            </div>

            <div>
              <dt class="font-medium">State/Province</dt>
              <dd class="text-muted-foreground">{{ address.province }}</dd>
            </div>

            <div>
              <dt class="font-medium">City</dt>
              <dd class="text-muted-foreground">{{ address.city }}</dd>
            </div>

            <div>
              <dt class="font-medium">Postal code</dt>
              <dd class="text-muted-foreground">{{ address.postalCode }}</dd>
            </div>

            <div>
              <dt class="font-medium">Address</dt>
              <dd class="text-muted-foreground">{{ address.address }}</dd>
            </div>
          </dl>

          <div class="flex items-center flex-col gap-2">
            <button
              class="flex items-center py-1.5 px-3 font-medium border border-border rounded-md bg-background shadow-sm hover:bg-accent"
              (click)="modifyAddress(address)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="mr-2 h-5 w-5"
              >
                <path
                  fill="currentColor"
                  d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z"
                />
              </svg>
              Modify
            </button>
            <button
              class="flex items-center py-1.5 px-3 font-medium border border-border rounded-md bg-background shadow-sm hover:bg-accent"
              (click)="openDeleteConfirmationModal(address.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="mr-2 h-5 w-5"
              >
                <path
                  fill="currentColor"
                  d="M7 21q-.825 0-1.413-.588T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.588 1.413T17 21H7ZM17 6H7v13h10V6ZM9 17h2V8H9v9Zm4 0h2V8h-2v9ZM7 6v13V6Z"
                />
              </svg>
              Delete
            </button>
          </div>
        </div>
      </div>

      <ng-template #noAddressesFound>
        <div
          class="my-4 p-4 text-sm flex flex-col xxs:flex-row gap-2 items-center justify-between border border-border rounded-md"
        >
          <dl>
            <dt class="font-medium">No addresses found</dt>
            <dd class="text-muted-foreground">
              You don't have any addresses yet.
            </dd>
          </dl>
        </div>
      </ng-template>

      <button
        class="text-sm flex items-center py-1.5 px-3 font-medium border border-border rounded-md bg-background shadow-sm hover:bg-accent"
        (click)="createAddress()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="mr-2 h-5 w-5"
        >
          <path
            fill="currentColor"
            d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"
          />
        </svg>
        {{
          userService.userAddresses().length > 0
            ? "Add another address"
            : "Create address"
        }}
      </button>
    </section>
  </main>
</div>

<app-footer />
