<div class="rounded-xl border bg-background text-foreground shadow">
  <header class="p-6 pb-4">
    <h3 class="font-semibold text-2xl">Forgot password</h3>
    <p class="text-sm text-muted-foreground">
      Please enter your email address and we will send you an email to
      change your password
    </p>
  </header>

  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="px-6 pb-6 flex flex-col gap-4"
  >
    <div class="text-sm space-y-2">
      <label
        [ngClass]="{ 'text-destructive': email?.invalid && submitted }"
        class="font-medium"
        for="email"
      >
        Email
      </label>
      <input
        #emailInput
        class="w-full h-9 border rounded-md px-3 py-1 shadow-sm bg-background focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed placeholder:text-muted-foreground"
        type="email"
        placeholder="johndoe@email.com"
        id="email"
        name="email"
        formControlName="email"
      />
      <p
        *ngIf="email?.invalid && submitted"
        class="text-[0.8rem] font-medium text-destructive"
      >
        Please enter a valid email address
      </p>
    </div>

    <button
      class="w-full flex justify-center items-center gap-2 border rounded-md text-sm font-medium bg-primary text-primary-foreground px-4 py-2 transition-colors hover:bg-primary/90 disabled:opacity-50"
      type="submit"
      [disabled]="isLoading"
    >
      <svg
        *ngIf="isLoading"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        class="animate-spin"
      >
        <path
          fill="currentColor"
          fill-opacity=".9"
          d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.438A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75Z"
        />
      </svg>
      Send email
    </button>
  </form>

  <footer
    class="pb-6 px-6 flex flex-wrap gap-2 items-center justify-between"
  >
    <div class="text-sm text-muted-foreground">
      <a
        class="text-foreground font-medium hover:underline"
        routerLink="/signin"
      >
        Back to sign in
      </a>
    </div>
  </footer>
</div>
