<app-navbar
  class="block sticky top-0 z-50 w-full border-b border-border bg-background"
/>

<main>
  <div class="bg-background text-primary py-8 container">
    <ng-container *ngIf="!isLoading(); else loadingDetails">
      <ng-container *ngIf="book()">
        <app-breadcrumbs
          [title]="book()!.title"
          [category]="{
            name: book()!.categories![0].name,
            slug: book()!.categories![0].slug
          }"
        />

        <div class="py-8 flex flex-col md:flex-row gap-8">
          <div class="flex-[0_0_300px]">
            <div class="-mt-8 p-8">
              <img
                class="mx-auto object-cover rounded-md shadow-sm"
                [src]="book()!.imageLink"
                [alt]="book()!.title + 'book cover'"
                fetchpriority="high"
              />
            </div>

            <div class="flex items-center justify-center gap-2">
              <button
                *ngIf="authService.token()"
                class="inline-flex items-center justify-center w-10 h-9 rounded-md shadow-sm bg-background text-sm text-primary border border-border transition-colors hover:bg-accent disabled:opacity-50"
                [disabled]="isAddToWishlistLoading()"
                (click)="addToWishlist(book()!.id)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="h-5 w-5"
                  aria-hidden="true"
                >
                  <path
                    fill="currentColor"
                    d="M5 21V5q0-.825.588-1.413T7 3h10q.825 0 1.413.588T19 5v16l-7-3l-7 3Zm2-3.05l5-2.15l5 2.15V5H7v12.95ZM7 5h10H7Z"
                  />
                </svg>
                <span class="sr-only">Add to wishlist</span>
              </button>
              <button
                class="inline-flex items-center justify-center gap-2 w-full py-2 px-3 rounded-md shadow-sm bg-primary text-sm text-primary-foreground transition-colors hover:bg-primary/90 disabled:opacity-50 max-w-sm md:max-w-none"
                [disabled]="isAddtoCartLoading()"
                (click)="addToCart(book()!.id)"
              >
                <svg
                  *ngIf="isAddtoCartLoading()"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  class="animate-spin"
                >
                  <path
                    fill="currentColor"
                    fill-opacity=".9"
                    d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75v-2.438A7.312 7.312 0 1 1 19.313 12h2.437c0-5.384-4.366-9.75-9.75-9.75Z"
                  />
                </svg>
                Add to cart
              </button>
            </div>
          </div>

          <div class="flex-[1_1]">
            <h2 class="font-semibold text-3xl">{{ book()!.title }}</h2>
            <h3 class="text-muted-foreground font-medium text-lg">
              {{ book()!.author }}
            </h3>

            <div class="-mt-1 flex items-center">
              <svg
                *ngFor="let number of [1, 2, 3, 4, 5]"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="w-9 h-9"
                [ngClass]="{
                  'text-[#e9c867]': number <= +book()!.averageRating!,
                  'text-gray-400': number > +book()!.averageRating!
                }"
              >
                <path
                  d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
                  fill="currentColor"
                />
              </svg>

              <span class="text-2xl font-medium ml-4 mt-3">
                ({{ book()!.averageRating | number : "1.2-2" }})
              </span>
              <span class="text-muted-foreground ml-4 mt-3">
                {{ book()!.ratingsCount }} ratings
              </span>
            </div>

            <div class="flex items-center py-2 gap-6">
              <div
                *ngIf="book()!.isBestseller"
                class="relative bg-[#f0bf6e] text-[#0c1220] px-3 py-0.5 rounded-l-sm after:absolute after:inline-block after:ml-[0.75rem] after:w-0 after:h-0 after:top-0 after:border-t-[#f0bf6e] after:border-t-[14px] after:border-b-[#f0bf6e] after:border-b-[14px] after:border-r-transparent after:border-r-[14px]"
              >
                Bestseller
              </div>
              <div
                *ngIf="book()!.discount !== 0"
                class="relative bg-destructive text-white px-3 py-0.5 rounded-md"
              >
                {{ book()!.discount }}% OFF
              </div>
            </div>

            <div class="space-x-2">
              <span class="font-semibold text-3xl">
                {{ book()!.currentPrice | number : "1.2-2" }}€
              </span>
              <div *ngIf="book()!.discount !== 0" class="inline-block">
                <span class="text-muted-foreground">Original: </span>
                <span class="text-muted-foreground line-through">
                  {{ book()!.originalPrice | number : "1.2-2" }}€
                </span>
              </div>
            </div>

            <div
              role="separator"
              aria-orientation="horizontal"
              class="-mx-1 mt-3 mb-1 h-px bg-border"
            ></div>

            <cdk-accordion [multi]="true">
              <cdk-accordion-item
                *ngFor="
                  let type of ['description', 'details'];
                  let index = index
                "
                #accordionItem="cdkAccordionItem"
                class="block border-b border-border group"
                [attr.id]="'accordion-header-' + index"
                role="button"
                tabindex="0"
                [expanded]="true"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index"
              >
                <button
                  class="flex items-center py-3 justify-between w-full text-sm font-medium text-foreground hover:underline"
                  (click)="
                    toggleAccordion(accordionItem, 'description-body-' + index)
                  "
                >
                  {{ type | titlecase }}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    class="text-muted-foreground transition group-aria-[expanded=true]:rotate-180"
                  >
                    <g fill="none" fill-rule="evenodd">
                      <path
                        d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"
                      />
                      <path
                        fill="currentColor"
                        d="M12.707 15.707a1 1 0 0 1-1.414 0L5.636 10.05A1 1 0 1 1 7.05 8.636l4.95 4.95l4.95-4.95a1 1 0 0 1 1.414 1.414l-5.657 5.657Z"
                      />
                    </g>
                  </svg>
                </button>

                <div
                  #accordionContent
                  class="overflow-hidden text-sm cursor-auto"
                  [ngClass]="{
                    hidden: !accordionItem.expanded,
                    'animate-accordion-down': accordionItem.expanded,
                    'animate-accordion-up': !accordionItem.expanded
                  }"
                  role="region"
                  [attr.id]="'description-body-' + index"
                  [attr.aria-labelledby]="'description-header-' + index"
                  (animationend)="
                    onAccordionAnimationEnd($event, accordionItem)
                  "
                >
                  <div class="pt-0 pb-4">
                    <ng-container [ngSwitch]="type">
                      <div *ngSwitchCase="'description'">
                        <p>
                          {{ book()!.description }}
                        </p>
                      </div>

                      <div *ngSwitchCase="'details'">
                        <dl>
                          <div class="flex items-center mb-4">
                            <dt class="text-muted-foreground w-32">
                              Categories
                            </dt>
                            <dd>
                              <a
                                *ngFor="
                                  let category of book()!.categories;
                                  let last = last
                                "
                                class="font-medium hover:underline"
                                [routerLink]="['/shop']"
                                [queryParams]="{ category: category.slug }"
                              >
                                {{ category.name }}{{ last ? "" : ", " }}
                              </a>
                            </dd>
                          </div>

                          <div class="flex items-center">
                            <dt class="text-muted-foreground w-32">ISBN</dt>
                            <dd>{{ book()!.ISBN }}</dd>
                          </div>

                          <div class="flex items-center">
                            <dt class="text-muted-foreground w-32">
                              Publisher
                            </dt>
                            <dd>{{ book()!.publisher }}</dd>
                          </div>

                          <div class="flex items-center">
                            <dt class="text-muted-foreground w-32">
                              Published date
                            </dt>
                            <dd>
                              {{ book()!.publishedDate | date : "MMMM d, y" }}
                            </dd>
                          </div>

                          <div class="flex items-center">
                            <dt class="text-muted-foreground w-32">Pages</dt>
                            <dd>{{ book()!.pageCount }} pages</dd>
                          </div>

                          <div class="flex items-center">
                            <dt class="text-muted-foreground w-32">Language</dt>
                            <dd>
                              {{
                                book()!.language === "EN"
                                  ? "English"
                                  : "Spanish"
                              }}
                            </dd>
                          </div>
                        </dl>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #loadingDetails>
      <app-book-skeleton />
    </ng-template>
  </div>
</main>

<app-footer />
