<div
  class="relative w-full h-full rounded-md flex flex-col text-sm transition-colors hover:bg-accent"
  (mouseenter)="animateHover('enter')"
  (mouseleave)="animateHover('leave')"
>
  <div
    #categoryTag
    *ngIf="book.categories && book.categories.length > 0"
    class="absolute z-20 inset-6 shadow-sm bg-primary text-primary-foreground w-fit h-fit py-1 px-3 rounded-md data-[state=active]:animate-scale-in data-[state=inactive]:animate-scale-out data-[state=inactive]:hidden"
    data-state="inactive"
  >
    {{ book.categories[0].name }}
  </div>

  <a class="p-4" [routerLink]="['/book', book.id + '-' + book.slug]">
    <img
      class="object-cover shadow-lg rounded-md transition-colors"
      [src]="book.imageLink"
      [alt]="book.title + ' book cover'"
      loading="lazy"
    />
  </a>

  <a
    class="h-full"
    [routerLink]="['/book', book.id + '-' + book.slug]"
    tabindex="-1"
  >
    <div class="px-4 flex gap-2 justify-between">
      <h3 class="font-semibold">
        {{ book.title }}
      </h3>
      <div class="hidden xs:flex flex-col">
        <span class="font-semibold">{{ book.currentPrice }}€</span>
        <span
          *ngIf="book.discount !== 0"
          class="line-through text-muted-foreground"
        >
          {{ book.originalPrice }}€
        </span>
      </div>
    </div>

    <div class="flex xs:hidden gap-2 px-4">
      <span class="font-semibold">{{ book.currentPrice }}€</span>
      <span
        *ngIf="book.discount !== 0"
        class="line-through text-muted-foreground"
      >
        {{ book.originalPrice }}€
      </span>
    </div>

    <span class="px-4 text-muted-foreground">{{ book.author }}</span>
    <div
      *ngIf="book.averageRating"
      class="px-4 flex flex-wrap items-center leading-[initial]"
    >
      <div class="flex items-center">
        <svg
          *ngFor="let number of [1, 2, 3, 4, 5]"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          [ngClass]="{
            'text-[#e9c867]': number <= +book.averageRating,
            'text-gray-400': number > +book.averageRating
          }"
        >
          <path
            d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
            fill="currentColor"
          />
        </svg>
      </div>
      <span class="text-sm">({{ book.averageRating }})</span>
    </div>
  </a>

  <div class="p-4 mt-auto flex items-center gap-2">
    <button
      *ngIf="type === 'not-rated'"
      class="flex items-center justify-center gap-2 w-full py-2 px-1 rounded-md shadow-sm bg-primary text-sm text-primary-foreground transition-colors hover:bg-primary/90 disabled:opacity-50"
      (click)="openRateBookModal(book.id)"
    >
      Rate book
    </button>

    <div
      *ngIf="type === 'rated' && rating"
      class="w-full flex flex-wrap items-center leading-[initial] gap-2 justify-center"
    >
      <div class="mb-1 flex flex-wrap xxs:flex-nowrap items-center">
        <svg
          *ngFor="let number of [1, 2, 3, 4, 5]"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          [ngClass]="{
            'text-[#e9c867]': number <= +rating,
            'text-gray-400': number > +rating
          }"
        >
          <path
            d="M5.825 22L7.45 14.975L2 10.25L9.2 9.625L12 3L14.8 9.625L22 10.25L16.55 14.975L18.175 22L12 18.275L5.825 22Z"
            fill="currentColor"
          />
        </svg>
        <span class="sr-only">({{ rating }})</span>
      </div>
      <button
        class="inline-flex items-center justify-center w-8 h-8 rounded-md shadow-sm bg-background text-sm text-primary border border-border transition-colors hover:bg-primary hover:text-primary-foreground disabled:opacity-50"
        (click)="openUpdateRateModal(book.id)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="h-5 w-5"
        >
          <path
            fill="currentColor"
            d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z"
          />
        </svg>
        <span class="sr-only">Remove from wishlist</span>
      </button>
    </div>
  </div>
</div>
