<div
  class="w-full flex items-start justify-between gap-4 flex-col xs:flex-row pb-3.5 border-b border-border"
>
  <div class="flex items-center gap-4">
    <div
      class="relative aspect-square h-20 w-20 min-w-fit overflow-hidden rounded"
    >
      <img
        [src]="cartBook.book.imageLink"
        [alt]="cartBook.book.title + ' book cover'"
        class="absolute object-cover"
      />
    </div>
    <div class="flex flex-col space-y-1 self-start">
      <a
        [routerLink]="['/book', cartBook.book.id + '-' + cartBook.book.slug]"
        class="line-clamp-1 text-sm font-medium hover:underline"
        (click)="dialogRef.close()"
      >
        {{ cartBook.book.title }}
      </a>
      <span class="line-clamp-1 text-xs text-muted-foreground">
        {{ cartBook.book.author }}
      </span>
      <span class="line-clamp-1 text-xs text-muted-foreground">
        {{ cartBook.book.currentPrice }}€ * {{ cartBook.quantity }} =
        {{
          +cartBook.book.currentPrice * cartBook.quantity | number : "1.2-2"
        }}€
      </span>
    </div>
  </div>

  <div
    class="flex items-center w-full justify-between gap-2 xs:w-auto xs:justify-normal"
  >
    <div class="flex items-center py-1">
      <button
        class="inline-flex items-center justify-center rounded-md rounded-r-none border-y border-l border-border bg-transparent hover:bg-accent hover:text-accent-foreground h-8 w-8 transition-colors disabled:opacity-50"
        [disabled]="isLoading()"
        (click)="subtractOne()"
      >
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-3 w-3"
          aria-hidden="true"
        >
          <path
            d="M2.25 7.5C2.25 7.22386 2.47386 7 2.75 7H12.25C12.5261 7 12.75 7.22386 12.75 7.5C12.75 7.77614 12.5261 8 12.25 8H2.75C2.47386 8 2.25 7.77614 2.25 7.5Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Remove one item</span>
      </button>

      <input
        #quantityInput
        class="flex border-y border-border bg-transparent px-3 py-1 text-sm rounded-none h-8 w-14 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:opacity-50"
        type="number"
        min="1"
        [formControl]="quantityControl"
        [attr.disabled]="isLoading()"
        [value]="cartBook.quantity"
        (keypress)="validateQuantity($event)"
        (input)="inputHandler($event)"
      />

      <button
        class="inline-flex items-center justify-center rounded-md rounded-l-none border-y border-r border-border bg-transparent hover:bg-accent hover:text-accent-foreground h-8 w-8 transition-colors disabled:opacity-50"
        [disabled]="isLoading()"
        (click)="addOne()"
      >
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-3 w-3"
          aria-hidden="true"
        >
          <path
            d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Add one item</span>
      </button>
    </div>

    <button
      class="inline-flex items-center justify-center rounded-md text-sm font-medium border border-border bg-transparent shadow-sm hover:bg-accent hover:text-accent-foreground h-8 w-8 transition-colors disabled:opacity-50"
      [disabled]="isLoading()"
      (click)="removeBook()"
    >
      <svg
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        aria-hidden="true"
      >
        <path
          d="M5.5 1C5.22386 1 5 1.22386 5 1.5C5 1.77614 5.22386 2 5.5 2H9.5C9.77614 2 10 1.77614 10 1.5C10 1.22386 9.77614 1 9.5 1H5.5ZM3 3.5C3 3.22386 3.22386 3 3.5 3H5H10H11.5C11.7761 3 12 3.22386 12 3.5C12 3.77614 11.7761 4 11.5 4H11V12C11 12.5523 10.5523 13 10 13H5C4.44772 13 4 12.5523 4 12V4L3.5 4C3.22386 4 3 3.77614 3 3.5ZM5 4H10V12H5V4Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Delete item</span>
    </button>
  </div>
</div>
