<img
  class="absolute inset-0 object-cover h-full w-full"
  fetchproprity="high"
  src="../../../../assets/sign-in-image.webp"
  alt="A book shelf with a shinning star in the middle"
/>
<div
  class="absolute inset-0 bg-gradient-to-t from-background/80 via-background/60 md:via-background/40 to-background/80 md:to-background/80"
></div>
<a
  routerLink="/"
  class="absolute top-6 left-8 z-20 text-xl md:text-2xl font-bold flex gap-3 items-center text-primary"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    fill="none"
    viewBox="0 0 40 40"
    class="w-[20px] md:w-[30px] h-[20px] md:h-[30px]"
  >
    <circle cx="20" cy="20" r="20" class="fill-primary" />
    <path
      class="fill-background"
      d="M23.688 19.36c.976.208 1.76.696 2.352 1.464.592.752.888 1.616.888 2.592 0 1.408-.496 2.528-1.488 3.36-.976.816-2.344 1.224-4.104 1.224h-7.848V11.152h7.584c1.712 0 3.048.392 4.008 1.176.976.784 1.464 1.848 1.464 3.192 0 .992-.264 1.816-.792 2.472-.512.656-1.2 1.112-2.064 1.368Zm-6.096-1.392h2.688c.672 0 1.184-.144 1.536-.432.368-.304.552-.744.552-1.32 0-.576-.184-1.016-.552-1.32-.352-.304-.864-.456-1.536-.456h-2.688v3.528Zm3.024 6.72c.688 0 1.216-.152 1.584-.456.384-.32.576-.776.576-1.368 0-.592-.2-1.056-.6-1.392-.384-.336-.92-.504-1.608-.504h-2.976v3.72h3.024Z"
    />
  </svg>
  BOOKSTORE
</a>
<div
  class="text-primary absolute bottom-6 left-8 z-20 line-clamp-1 text-sm sm:text-base"
>
  Photo by
  <a
    target="_blank"
    class="hover:underline"
    href="https://unsplash.com/es/@valentinantonini?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
  >
    Valentin Antonini
  </a>
  on
  <a
    target="_blank"
    class="hover:underline"
    href="https://unsplash.com/es/fotos/0eTLk6dA_Ds?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
  >
    Unsplash
  </a>
</div>
